/node_modules
/public/hot
/public/storage
/public/Lamp_Laporan
/public/Lamp_Sertifikat
/public/Lamp_SPT
/public/lampiran
/public/petunjuk_file
/public/surat_pengiriman
/public/files
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
